<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>569244114360-otc1dlngq9kcd2jftl8n4sp1aja6cnmm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569244114360-otc1dlngq9kcd2jftl8n4sp1aja6cnmm</string>
	<key>API_KEY</key>
	<string>AIzaSyD6jIytJSz1s263czIIKAlTpRkzWiK8Vxk</string>
	<key>GCM_SENDER_ID</key>
	<string>569244114360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.learning.tutorials.cloudbaseTodoApp</string>
	<key>PROJECT_ID</key>
	<string>cloudbasetodoapp</string>
	<key>STORAGE_BUCKET</key>
	<string>cloudbasetodoapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569244114360:ios:c7eb90b82e3a8239eac34d</string>
</dict>
</plist>